; Kelee Loon to Quantumult X
hostname = hub.kelee.one
^https:\/\/hub\.kelee\.one\/list\.json(?:[?#].*)?$ url script-response-body https://raw.githubusercontent.com/gogrhw/quantumult-x/refs/heads/main/Scripts/kelee-loon-to-qx.js
^https:\/\/hub\.kelee\.one\/(?:index\.html)?(?:[?#].*)?$ url script-response-body https://raw.githubusercontent.com/gogrhw/quantumult-x/refs/heads/main/Scripts/kelee-loon-to-qx.js
